{% if user.is_authenticated %}
<form method="post" action="">{% csrf_token %}
  <h1>Apuesta:</h1>
  {{ resultados_formset.management_form }}
  <p>Usuario: {{ user.username }}</p>
  <p>Jornada: {{ jornada.numero }}</p>
  <p>
  {{ resultados_formset.non_form_errors }}
  {% for form, partido in lista %}
  {{ partido.casilla }} {{ partido.local }} - {{ partido.visitante }} 
    {% if partido.casilla != 15 %}
    {% for choice in form.signo.field.choices %}
    {% if choice.0 == '1' or  choice.0 == 'X' or  choice.0 == '2' %}
    {{ choice.0 }}<input type="checkbox"
                  id="id_form-{{ forloop.parentloop.counter0 }}-signo"
                  name="form-{{ forloop.parentloop.counter0 }}-signo"
                  {% if form.signo.data.0 == choice.0 or form.signo.data.1 == choice.0 or form.signo.data.2 == choice.0 %}
                  checked="checked"
                  {% endif %}
                  value="{{ choice.1 }}"/>
    {%endif%}
    {% endfor %}
    {% else %}
    <select id="id_form-14-signo" name="form-14-signo">
        <option value="M-0" {% if form.signo.data.0|stringformat:'s' == 'M-0' %}selected{% endif %}>M-0</option>
        <option value="M-1" {% if form.signo.data.0|stringformat:'s' == 'M-1' %}selected{% endif %}>M-1</option>
        <option value="M-2" {% if form.signo.data.0|stringformat:'s' == 'M-2' %}selected{% endif %}>M-2</option>
        <option value="M-M" {% if form.signo.data.0|stringformat:'s' == 'M-M' %}selected{% endif %}>M-M</option>
        <option value="2-0" {% if form.signo.data.0|stringformat:'s' == '2-0' %}selected{% endif %}>2-0</option>
        <option value="2-1" {% if form.signo.data.0|stringformat:'s' == '2-1' %}selected{% endif %}>2-1</option>
        <option value="2-2" {% if form.signo.data.0|stringformat:'s' == '2-2' %}selected{% endif %}>2-2</option>
        <option value="2-M" {% if form.signo.data.0|stringformat:'s' == '2-M' %}selected{% endif %}>2-M</option>
        <option value="1-0" {% if form.signo.data.0|stringformat:'s' == '1-0' %}selected{% endif %}>1-0</option>
        <option value="1-1" {% if form.signo.data.0|stringformat:'s' == '1-1' %}selected{% endif %}>1-1</option>
        <option value="1-2" {% if form.signo.data.0|stringformat:'s' == '1-2' %}selected{% endif %}>1-2</option>
        <option value="1-M" {% if form.signo.data.0|stringformat:'s' == '1-M' %}selected{% endif %}>1-M</option>
        <option value="0-0" {% if form.signo.data.0|stringformat:'s' == '0-0' %}selected{% endif %}>0-0</option>
        <option value="0-1" {% if form.signo.data.0|stringformat:'s' == '0-1' %}selected{% endif %}>0-1</option>
        <option value="0-2" {% if form.signo.data.0|stringformat:'s' == '0-2' %}selected{% endif %}>0-2</option>
        <option value="0-M" {% if form.signo.data.0|stringformat:'s' == '0-M' %}selected{% endif %}>0-M</option>
     </select>
    {% endif %}
    <br/>
  {% endfor %}
  </p>
  <input type="submit" value="Submit" />
</form>
<a href="/logout/">Logout</a>
{% else %}
<a href="/">Login</a>
{% endif %}
