{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container">
<h1>Jornada: {{ jornada.numero }}</h1>
{% if user in usuarios %}
<table border='1'>
  <tr>
    <td></td>
    {% for elemento in respuesta %}
    <th>{{ elemento.usuario }}</th>
    {% endfor %}
    <th>quiniela</th>
  </tr>
  <tr>
    <td>
    {% for partido in partidos %}
    {{ partido.local }}-{{ partido.visitante }}<br/>
    {% endfor %}
    </td>
    {% for elemento in respuesta %}
    <td>
      {% for signo in elemento.apuesta %}
        {% for i in signo %}
          {{ i.signo }}
        {% endfor %}
        <br/>
      {% endfor %}
    </td>
    {% endfor %}
    <td>
      {% for partido in partidos %}
      {{ partido.signo }}<br/>
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>Reducciones</td>
    {% for elemento in respuesta %}
    <td>
      15: {{ elemento.aciertos_15 }}<br/>
      14: {{ elemento.aciertos_14 }}<br/>
      13: {{ elemento.aciertos_13 }}<br/>
      12: {{ elemento.aciertos_12 }}<br/>
      11: {{ elemento.aciertos_11 }}<br/>
      10: {{ elemento.aciertos_10 }}<br/>
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>Premio</td>
    {% for elemento in respuesta %}
    <td>
      {{ elemento.premio }} €
    </td>
    {% endfor %}
    <td>
    {{ total_premio }} €
    </td>
  </tr>
  <tr>
    <td>Aciertos</td>
    {% for elemento in respuesta %}
    <td>
      {{ elemento.numero_aciertos }}+{{ elemento.dobles_aciertos }}
      {% if elemento.pleno == 1 %} y pleno{% endif %}
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>Posici&oacute;n</td>
    {% for elemento in respuesta %}
    <td>
      {% if elemento.posicion.posicion == respuesta|length %}
        comemierda
      {% else %}
        {{ elemento.posicion.posicion }}
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  <tr><td>Mi Bolsa </td>
    {% for elemento in respuesta %}
      {% if elemento.usuario == user %}
      <td colspan="{{ respuesta|length }}">{{ elemento.costes_user }} €</td>
      {% endif %}
    {% endfor %}
  </tr>
</table>
{% endif %}
{% with jornada.numero|stringformat:"s" as jornada_numero %}
{% if user.is_superuser %}
  {% bootstrap_button button_type=link href="/new_jornada/" content="Nueva Jornada" button_class="btn btn-primary" %}
  {% if not user in usuarios %}{% bootstrap_button button_type=link href="/new_apuesta/"|add:jornada_numero content="Nueva Apuesta" button_class="btn btn-primary" %}{% endif %}
  {% if not premios %}{% bootstrap_button button_type=link href="/new_resultado/"|add:jornada_numero content="Poner Resultado" button_class="btn btn-primary" %}{% endif %}
  {% bootstrap_button button_type=link href="/grafico/" content="Ver gráficos" button_class="btn btn-primary" %}
{% elif user.is_active %}
  {% if not user in usuarios %}{% bootstrap_button button_type=link href="/new_apuesta/"|add:jornada_numero content="Nueva Apuesta" button_class="btn btn-primary" %}{% endif %}
  {% bootstrap_button button_type=link href="/grafico/" content="Ver gráficos" button_class="btn btn-primary" %}
{% endif %}
{% endwith %}
<br/>
<nav>
  <ul class="pager">
{% if jornada_page.has_previous and jornada_page.has_next %}
    <li class="previous"><a href="?page={{ jornada_page.previous_page_number }}"><span aria-hidden="true">&larr;</span> Anterior</a></li>
    <li class="next"><a href="?page={{ jornada_page.next_page_number }}">Siguiente <span aria-hidden="true">&rarr;</span></a></li>
{% elif jornada_page.has_previous %}
    <li class="previous"><a href="?page={{ jornada_page.previous_page_number }}"><span aria-hidden="true">&larr;</span> Anterior</a></li>
    <li class="next disabled"><a href="#">Siguiente <span aria-hidden="true">&rarr;</span></a></li>
{% elif jornada_page.has_next %}
    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Anterior</a></li>
    <li class="next"><a href="?page={{ jornada_page.next_page_number }}">Siguiente <span aria-hidden="true">&rarr;</span></a></li>
{% endif %}
<!--Página {{ jornada_page.number }} de {{ jornada_page.paginator.num_pages }}.-->
  </ul>
</nav>
<br/>
{% bootstrap_button button_type=link href="/logout/" content="Salir" button_class="btn btn-primary" %}
</div>
{% endblock %}
