{% if user.is_authenticated %}
<h1>Jornada: {{ jornada.numero }}</h1>
{% if user in usuarios %}
<table border='1'>
  <tr>
    <td></td>
    {% for elemento in respuesta %}
    <th>{{ elemento.usuario }}</th>
    {% endfor %}
    <th>quiniela</th>
  </tr>
  <tr>
    <td>
    {% for partido in partidos %}
    {{ partido.local }}-{{ partido.visitante }}<br/>
    {% endfor %}
    </td>
    {% for elemento in respuesta %}
    <td>
      {% for signo in elemento.apuesta %}
        {% for i in signo %}
          {{ i.signo }}
        {% endfor %}
        <br/>
      {% endfor %}
    </td>
    {% endfor %}
    <td>
      {% for partido in partidos %}
      {{ partido.signo }}<br/>
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>Reducciones</td>
    {% for elemento in respuesta %}
    <td>
      15: {{ elemento.aciertos_15 }}<br/>
      14: {{ elemento.aciertos_14 }}<br/>
      13: {{ elemento.aciertos_13 }}<br/>
      12: {{ elemento.aciertos_12 }}<br/>
      11: {{ elemento.aciertos_11 }}<br/>
      10: {{ elemento.aciertos_10 }}<br/>
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>Premio</td>
    {% for elemento in respuesta %}
    <td>
      {{ elemento.premio }} €
    </td>
    {% endfor %}
    <td>
    {{ total_premio }} €
    </td>
  </tr>
  <tr>
    <td>Aciertos</td>
    {% for elemento in respuesta %}
    <td>
      {{ elemento.numero_aciertos }}+{{ elemento.dobles_aciertos }}
      {% if elemento.pleno == 1 %} y pleno{% endif %}
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>Posici&oacute;n</td>
    {% for elemento in respuesta %}
    <td>
      {% if elemento.posicion.posicion == respuesta|length %}
        comemierda
      {% else %}
        {{ elemento.posicion.posicion }}
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  <tr><td>Mi Bolsa </td>
    {% for elemento in respuesta %}
      {% if elemento.usuario == user %}
      <td colspan="{{ respuesta|length }}">{{ elemento.acumulado_user }} €</td>
      {% endif %}
    {% endfor %}
  </tr>
</table>
{% endif %}
  {% if user.is_staff %}
  <a href="{% url "crear_jornada" %}">Nueva Jornada</a>
  {% if not user in usuarios %}<a href="{% url "crear_apuesta" %}">Nueva Apuesta</a>{% endif %}
  {% if not posiciones %}<a href="{% url "crear_resultado" %}">Poner Resultado</a>{% endif %}
  {% elif user.is_active %}
  {% if not user in usuarios %}<a href="{% url "crear_apuesta" %}">Nueva Apuesta</a>{% endif %}
  {% endif %}
  <br/>
  {% if jornada_page.has_previous %}
    <a href="?page={{ jornada_page.previous_page_number }}">Anterior</a>
  {% endif %}
    Jornada {{ jornada_page.number }} de {{ jornada_page.paginator.num_pages }}.
  {% if jornada_page.has_next %}
    <a href="?page={{ jornada_page.next_page_number }}">Siguiente</a>
  {% endif %}
  <br/>
  <a href="/logout/">Logout</a>
{% else %}
<a href="/">Login</a>
{% endif %}
