{% if user.is_authenticated %}
<form method="post" action=".">{% csrf_token %}
{{ premios_formset.management_form }}
  {{ premios_formset.non_form_errors }}
  <h1>Resultados:</h1>
  <p>Jornada: {{ jornada.numero }}</p>
  <p align="justify">
  {% for partido in partidos  %}
  {{ partido.casilla }} {{ partido.local }} - {{ partido.visitante }}
  <select name="signo-{{ partido.casilla }}">
    <option value="1">1</option>
    <option value="X" {% if partido.signo|stringformat:'s' == 'X' %}selected{% endif %}>X</option>
    <option value="2" {% if partido.signo|stringformat:'s' == '2' %}selected{% endif %}>2</option>
  </select><br/>
  {% endfor %}
  </p>
  <p>Premios:</p>
  <p>
  {% for categoria, cantidad in premios_formset %}
    {{ cantidad.errors }}
   {{ categoria }}{{ cantidad }}<br/>
  {% endfor %}
  </p>
  <input type="submit" value="Submit" />
</form>
<a href="/logout/">Logout</a>
{% else %}
<a href="/">Login</a>
{% endif %}
