{% if user.is_authenticated %}
<form method="post" action=".">{% csrf_token %}
  <p>Resultados:</p>
  <p>Jornada: {{ jornada.numero }}</p>
  <p align="justify">
  {% for partido in partidos  %}
  {{ partido.casilla}} {{ partido.local }} - {{ partido.visitante }}
  <select name="signo-{{ partido.casilla }}">
    <option value="1">1</option>
    <option value="X" {% if partido.signo|stringformat:'s' == 'X' %}selected{% endif %}>X</option>
    <option value="2" {% if partido.signo|stringformat:'s' == '2' %}selected{% endif %}>2</option>
  </select><br/>
  {% endfor %}
  </p>
  <p>{{ premio_form.as_p }}</p>
  {{ premio_form.categoria.field.get_opciones_display }}
  {% for value, text in premio_form.categoria.field.choices %}
  {% if value %}
      {{value}}{{ text }}<br/>
    {% endif %}
  {% endfor %}
  <input type="submit" value="Submit" />
</form>
<a href="/logout/">Logout</a>
{% else %}
<a href="/">Login</a>
{% endif %}
