{% if user.is_authenticated %}
<form method="post" action="">{% csrf_token %}
{{ premios_formset.management_form }}
  {{ premios_formset.non_form_errors }}
  <h1>Resultados:</h1>
  <p>Jornada: {{ jornada.numero }}</p>
  <p align="justify">
  {% for partido in partidos  %}
  {{ partido.casilla }} {{ partido.local }} - {{ partido.visitante }}
  1<input type="radio" name="signo-{{ partido.casilla }}" value="1" {% if partido.signo|stringformat:'s' == '1' %}checked{% endif %}/>
  X<input type="radio" name="signo-{{ partido.casilla }}" value="X" {% if partido.signo|stringformat:'s' == 'X' %}checked{% endif %}/>
  2<input type="radio" name="signo-{{ partido.casilla }}" value="2" {% if partido.signo|stringformat:'s' == '2' %}checked{% endif %}/><br/>
  {% endfor %}
  </p>
  <p>Premios:</p>
  <p>
  {% for categoria, cantidad in premios_formset %}
    {{ cantidad.errors }}
   {{ categoria }}{{ cantidad }}<br/>
  {% endfor %}
  </p>
  <p>Pagador:</p>
  <p>
    {{ pagador_form.as_p }}
  </p>
  <input type="submit" value="Submit" />
</form>
<a href="/logout/">Logout</a>
{% else %}
<a href="/">Login</a>
{% endif %}
